@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  background-color: #fff;
}

h1,
.h1 {
  margin-bottom: 20px;
}

.grid-container {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.jumbotron-container {
  background-color: #eee;
  padding-top: 50px;
}
.container .jumbotron {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 32px;
}

.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand {
  padding: 15px;
}
.navbar-default .navbar-brand .logo {
  position: fixed;
  top: 0;
  height: 50px;
}
.navbar-default .navbar-brand .title {
  padding-left: 50px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: darkgreen;
  background-color: #ccc;
}

#projects {
  background-color: #eee;
}

.member-container,
.project-container {
  padding-bottom: 20px;
}
.member-container .picture,
.project-container .picture {
  height: 200px;
  width: 100%;
  max-width: 250px;
  background-color: #dedede;
  border: 1px solid #ddd;
  margin: 0 auto;
}
.member-container .information,
.project-container .information {
  text-align: center;
  background-color: #ccc;
  padding: 7px;
  max-width: 250px;
  margin: 0 auto;
}
